/* Basic Style */
body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.information-container {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.information-container img {
    width: 100%;
}

.information-container__link {
    font-family: fantasy, cursive;
}

@media (max-width:768px) {
    .information-container { 
        text-align: center;
    }
}

.task-items-container {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}

.task-items-container__tasks-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-items-container__create-task-container {
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}

ul {
    margin: 0;
    padding: 0px;
}

input,
button {
    outline: none;
}

.button-template {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.button-template:hover {
    color: #3a3a3a;
}

/* Heading */

.heading-template {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
    list-style: none;
}

input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0px 9px;
    border: 1px solid #ddd;
    background: #FFF;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

input[type="text"]:focus {
    color: #333;
}

/* New Task */

.task-items-container__create-task-container__input {
    width: 82%;
}

/* Task list */
.task-items-container__tasks-list__item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
}

.task-items-container__tasks-list__item > * {
    vertical-align: middle;
}

.task-items-container__tasks-list__item > input[type="checkbox"] {
    margin: 0px 10px;
}

.task-items-container__tasks-list__item > label {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.task-items-container__tasks-list__item > input[type="text"] {
    width: 226px;
}

.task-items-container__tasks-list__item__button-delete img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.task-items-container__tasks-list__item__button-delete img:hover {
    transform: rotateZ(0);
}

/* Completed */

#completed-tasks-list .task-items-container__tasks-list__item__task-description {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */

.task-items-container__tasks-list__item input[type="text"] {
    display: none;
}

.task-items-container__tasks-list__item.editMode input[type="text"] {
    display: inline-block;
    width: 224px;
}

.task-items-container__tasks-list__item.editMode .task-items-container__tasks-list__item__task-description {
    display: none;
}